<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkify - Forgot Password</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="wrapper">
        <form action="/forgot_password" method="POST">
            <h2>Forgot Password</h2>
            <p style="color: #fff; font-size: 1rem; margin-bottom: 15px;">Enter your email to receive a verification code.</p>
            <div class="input-field">
                <input type="email" name="email" required>
                <label>Enter your email</label>
            </div>
            <button type="submit">Send Code</button>
            <div class="register">
                <p>Remember your password? <a href="{{ url_for('login') }}">Login</a></p>
            </div>
        </form>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
